body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;

}


pre {

    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;

}

.tituloIndice {

    font-size:x-large;
    margin-bottom: 3%;

}

.apartadosIndice {

    display: flex;
    flex-direction: column;

}



h3 {

    color:dimgrey;

}